<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mapa Full Screen con Leaflet</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>

<div id="elements_container">
  <app-lateral-bar (filterClick)="toggleFilterComponent()" (userClick)="userClicked()"></app-lateral-bar>
  <app-filter-card *ngIf="showFilterComponent"></app-filter-card>
  <div id="geosearch-container" class="map-container">
    <form (submit)="onSearch(search.value); $event.preventDefault();">
      <div class="search-container">
        <input type="text" id="search" name="search" placeholder="Buscar..." #search>
        <button type="button" class="clear-button" (click)="clearSearch(search)">✖</button>
      </div>
      <button type="submit">Buscar</button>
    </form>
    <div *ngIf="searchResults.length > 0" class="results-container">
      <button *ngFor="let result of searchResults" (click)="selectResult(result)" class="search-result-button">
        {{ result.label }}
      </button>
    </div>
  </div>
</div>


<div id="map" class="map-container"></div>

<div id="activity-form" class="form-container">
  <button class="close-btn" (click)="closeForm()">✖</button>
  <h2>Crear Actividad</h2>
  <label for="title">Título:</label>
  <input type="text" id="title" required>

  <label for="description">Descripción:</label>
  <textarea id="description" required></textarea>

  <label for="image">Imagen:</label>
  <input type="file" id="image" accept="image/*">

  <button (click)="addActivity()">Agregar Actividad</button>
</div>

<!-- Perfil -->
<div class="login-icon" *ngIf="!user">
  <a routerLink="/login" title="Iniciar sesión">
    <img src="https://img.icons8.com/ios-filled/24/000000/user.png" alt="Login">
  </a>
</div>

<div class="login-icon" *ngIf="user">
  <a routerLink="/perfil" title="Perfil de usuario">
    <img src="https://img.icons8.com/ios-filled/24/000000/user-male-circle.png" alt="Perfil">
  </a>
</div>
<!-- -->

</body>
</html>


