html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh; /* Ocupa el 100% del viewport height */
  width: 100vw;  /* Ocupa el 100% del viewport width */
}

.form-container {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: slategray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background: darkgray;
}

